body, ul, li, p {

    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 1,2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    }





    h1 {

    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    u{

        color: #ffffff;
    }

    a  {
    color: rgb(255, 255, 255);
    margin-left: 1050px;
    text-align: right;
        }
    
    .header {
    background: #595959;
    display: flex;
    padding: 20px;
    text-align:  right;
    font-size: 40px;
    margin-top:     0px;
    }

  body {

  background-color: #373737 ;

  }

  h2 {
     margin: 50px;
    text-align: center;
    color: #ffffff;
  }

  img{
    flex-wrap: wrap;
    width: 30%;
    height: 40%;
    margin: 20px;    
  }

 
 #baixo img{

margin-left: 470px;

 }
  

  video {

  width: 40%;
  margin-left: 400px;
  margin-bottom: 30px;
  
  }
